*.layout
*.depend
bin/
obj/
*.save
*.bak
private
test
*_build_log.html
.vscode

**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

cmake-build-debug/.cmake
cmake-build-debug/.



local

# For Clion cmake-build-debug
Testing/
CMakeFiles/
.cmake/
.nin*
*.ninja
CMakeCache.txt
cmake_install.cmake
.DS_Store
c/doplnky/

main
__pycache__/
